.None {
    display: none;
}
.class1{
    color:green;
   
}
.class2{
    color:red;
}
.class3{
    text-align: center;
    text-shadow: beige;
}

.vc{
    margin:0;
    position: absolute;
    top:50%;
    -ms-transform: translateY(-50%);
    transform:translateY(-50%);
    align="left: 100px;"
}